@import "tailwindcss";

@config '../../tailwind.config.js';

@theme {
	--color-beige: #fdf1dc;
	--color-brown: #24211b;
}

@layer utilities {
	.app {
		@apply relative z-10 flex justify-center items-center flex-col mx-auto sm:px-12 px-4 h-full bg-beige dark:bg-brown dark:text-white min-h-screen;
	}

	.input {
		@apply border text-sm block w-full rounded-md p-3 hover:border-orange-200 focus:ring-orange-200 focus:border-orange-200;
		@apply disabled:bg-slate-200 disabled:text-slate-400 disabled:border-black/0 disabled:opacity-70;
	}
}

@layer base {
	:root {
		--radius: 0.5rem;
	}
}
